<a href="https://colab.research.google.com/github/Kevin-Lucey/Algorithms/blob/main/Lucey_W1HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Basic Aarithmetic operations

a=10
b=5
sum = a+b
difference = a-b
product = a*b
division = a/b

print("Sum: ", sum)
print("Difference: ", difference)
print("Product: ", product)
print("Division: ", division)

Sum:  15
Difference:  5
Product:  50
Division:  2.0

In [2]:
print(f"The sum of the two numbers {a}, {b}, is {sum}")

The sum of the two numbers 10, 5, is 15

In [4]:
x = a//b
print(x)
y = 13%2
print(y)

2
1

In [6]:
# Boolean variables and comparisons

a = 10
y = 5

is_greater = x>y
is_equal = x==y
is_not_equal = x!=y

print("is x greater than y?", is_greater)
print("is x equal to y?", is_equal)
print("is x not equal to y?", is_not_equal)

is x greater than y? False
is x equal to y? False
is x not equal to y? True

In [7]:

#Variable assignment
name = "Alaa"
age = 55
is_professor = True

print(f"{name}'s age is {age} He is a Professor is {is_professor}")

Alaa's age is 55 He is a Professor is True

In [10]:
# Defining and using a function

def great(name:str):
  return "Hello, "+ name + "!"


my_name = input("enter your name: ")
great(my_name)

enter your name: Kevin

'Hello, Kevin!'

In [11]:
def add_numbers(a,b):
  return a+b

a = eval(input("First number: "))
b = eval(input("second number: "))

addition_value = add_numbers(a,b)
print(f"The result of addition for {a}, {b} is {addition_value}")

First number: 1
second number: 30
The result of addition for 1, 30 is 31

In [12]:
# Working with strings

message = "Hello, World"

length = len(message)
uppercase = message.upper()
lowercase = message.lower()
substring = message[7:12]

print("Original Message: ", message)
print("Length: ", length)
print("Uppercase: ", uppercase)
print("Lowercase: ", lowercase)
print("substring: ", substring)

Original Message:  Hello, World
Length:  12
Uppercase:  HELLO, WORLD
Lowercase:  hello, world
substring:  World

In [13]:
#Basic input example

lname = input("Enter last name ")
fname = input("Enter first name ")

print(f"{lname}, {fname}")

Enter last name Kevin
Enter first name Lucey
Kevin, Lucey

In [14]:
# Numeric input example

age = int(input("enter your age: "))
print("you will be ", age + 1, " years old next year")

enter your age: 25
you will be  26  years old next year

In [15]:
# Calculations with input

num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
sum_result = num1 + num2
print("Sum: ", num1 + num2)

Enter the first number: 10
Enter the second number: 20
Sum:  30.0

In [17]:
# String concatenation with input
city = input("Enter the name of a city: ")
country = input("Enter the name of a country: ")
print(f"The city {city} is in the country {country}.")

Enter the name of a city: New Haven
Enter the name of a country: USA
The city New Haven is in the country USA.

In [18]:
# Multiple inputs

name, age = input("Enter your name and age sepearated by space").split()
print(f"my name is {name} and my age is {age}")

Enter your name and age sepearated by spaceKevin 25
my name is Kevin and my age is 25